body {
    text-align: center;
    background-color: #363636;
    color: #b7efcd;
    font-size: 18px;
}

header {
    background-color: #ffbcbc;
    color: #363636;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    padding: 25px;
    font-size: 35px;
    font-weight: bolder;
}

h1 {
    color: #363636;
}

footer {
    font-size: 18px;
    background-color: #99d8d0;
    color: #363636;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
    width: 100%;
    padding: 10px;
        
}