    body {
        text-align: center;
        background-color: #0e0220;
        color: #e40475;
        font-size: 18px;
    }

    header {
        background-color: #48e0e4;
        color: #0e0220;
        position: fixed;
        display: flex;  
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        font-size: 35px;
        font-weight: bolder;
        
        
    }

    h1 {
        color: #0e0220;
        text-align: center;
        border: 5px;
        border-radius: 7px;
        border-color: #0e0220;
        border-style: dotted;
        width: 30%;
        padding: 5px;
        margin-left: 142px;
        
    }

    .search {
        display: flex;
        margin-right: 125px;
    }

    input {
        display: flex;  
        width: 250px;
        height: 30px;
        align-self: right;
        justify-content: flex-end;
        
    }

    button {
        height: 36px;
        
    }


    main{
        display: flex;  
        justify-content: center;
        flex-direction: column;
        margin: 1%;
        border: 5px;
        border-radius: 9px;
        border-color: #48e0e4;
        border-style: dotted;
        padding: 8%;    
    }

    #image {
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
        
        
    }

    .image {
        display: inline;
    }

    #video{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;

    }

    .video{
        display: inline;
    }

    div {
        border: 5px;
        border-radius: 9px;
        border-color: #48e0e4;
        border-style: dotted;
        padding: 12px;
        
    }

    #data {
        margin-bottom: 1%;

    }

    #nomeImg{
        margin-bottom: 1%;
        font-size: 35px;

    }

    #textoImg{
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 1%;
    }


    footer {
        font-size: 18px;
        background-color: #e40475;
        color: #0e0220;
        position: fixed;
        bottom: 0;
        left: 0;
        align-items: center;
        width: 100%;
        padding: 10px;
            
    }

    .someclasse {
        display: none;
    }